#container {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#container h3 {
	margin: 5px;
}

#container input {
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

#grid {
	height: 720px;
	width: 720px;
	margin-left: auto;
	margin-right: auto;
}

#grid div {
	height: 45px;
	width: 45px;
	float: left;
}

.canvas {
	background-color: black;
}

.draw {
	background-color: white;
}